In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
import datetime, time
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
def connection_db(host_name, user_id, passwd, db_name, tag):
    if tag == "connection":
        conn=pymysql.connect(host=host_name,port=3306,user=user_id,password=passwd,db=db_name)
        return conn
    
    if tag == "engine":
        engine = create_engine(f"mysql://{user_id}:{passwd}@{host_name}/{db_name}")
        return engine

In [3]:
conn= connection_db(host_name='localhost',user_id="root",passwd='wkdrnssla12!',db_name="testdb", tag = "connection")
engine = connection_db(host_name='localhost',user_id="root",passwd='wkdrnssla12!',db_name="testdb", tag = "engine")

SQLCommend = "SELECT * FROM user_info;"
result = pd.read_sql(SQLCommend,conn)
conn.close()

result

c:\Users\kdhyun\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,create_time,update_time,user_id,user_age,user_address
0,1,2022-05-24 14:52:15,2022-05-24 14:52:15,test_user0,23,my address no0
1,2,2022-05-24 14:52:15,2022-05-24 14:52:15,test_user1,24,my address no1
2,3,2022-05-24 14:52:15,2022-05-24 14:52:15,test_user2,25,my address no2
3,4,2022-05-24 14:52:15,2022-05-24 14:52:15,test_user3,26,my address no3
4,5,2022-05-24 14:52:15,2022-05-24 14:52:15,test_user4,27,my address no4
5,6,2022-05-24 14:52:15,2022-05-24 14:52:15,test_user5,28,my address no5
6,7,2022-05-24 14:52:15,2022-05-24 14:52:15,test_user6,29,my address no6
7,8,2022-05-24 14:52:15,2022-05-24 14:52:15,test_user7,30,my address no7
8,9,2022-05-24 14:52:15,2022-05-24 14:52:15,test_user8,31,my address no8
9,10,2022-05-24 14:52:15,2022-05-24 15:14:31,test_user9,32,my address no9

In [ ]:
age = 23
user_data_sum = []
for i in range(10):
    create_time = datetime.datetime.now()
    update_time = datetime.datetime.now()
    user_name = f"test_user{i}"
    user_age = age
    user_add = f"my address no{i}"
    
    user_data = [create_time, update_time, user_name, user_age, user_add]
    user_data_sum.append(user_data)
    age = age +1
user_df = pd.DataFrame(user_data_sum, columns=["create_time","update_time","user_id","user_age", "user_address"])
user_df.to_sql(name="user_info", con=engine, if_exists='append', chunksize=1000, index=False)

In [63]:
engine = connection_db(host_name='localhost',user_id="root",passwd='wkdrnssla12!',db_name="testdb", tag = "engine")
md = sqlalchemy.MetaData(engine)
table = sqlalchemy.Table('user_info', md, autoload=True)
upd = table.update().where(table.c.user_id=='test_user9').values(update_time=datetime.datetime.now())
engine.execute(upd)

In [2]:
import requests
import json

URL = "http://localhost:8000/user/update"
data = {
    "user_id": "test_user3",
    "user_age": 21
}

data = json.dumps(data)
data

'{"user_id": "test_user3", "user_age": 21}'

In [8]:
res = requests.post(url=URL, data=data)
res

In [6]:
aa = res.text
aa

'{"user_id":"test_user3","user_age":21,"user_address":null}'

In [63]:
A = list(bb.keys())

In [64]:
for i in A:
    if bb[i] != None:
        pass
    else:
        del(bb[i])

bb

{'user_id': 'testuser', 'user_age': 21}

In [76]:
user_address =""
if bb["user_address"] is not None: del(user_address)